.report {
    font-size: small;
}

.reportTable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

.reportTable th,
.reportTable td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.reportTable thead {
    background-color: #f2f2f2;
}

.reportTable tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.reportTable tbody tr:nth-of-type(odd) {
    background-color: #fff;
}


.button_generatereport {
    padding: 0.5rem;
    cursor: pointer;
}